include ../../templates/utilities.pug

mixin info-block(item)
  -
    const infoBlockId = getRandomId();
    const styles = ['0', '512', '768', '1024', '1280'].map((value) =>
      `@media (min-width: ${value}px) {
        .info-block_${infoBlockId} {
          background-position: ${item.background.position[value]};
          background-size: ${item.background.size[value]};
        }
      }`.replace(/\s{2}/g, '')
    );

  script
    each style in styles
      .
        document.styleSheets[document.styleSheets.length - 1].insertRule(
          '#{style}',
          document.styleSheets[document.styleSheets.length - 1].cssRules.length
        );

  .info-block(
    class=`info-block_${infoBlockId}`,
    style=`
      background-color: ${item.background.color};
      background-image: url(./images/${item.background.image});
    `
  )&attributes(attributes)
    h3.info-block__title!= item.title
    p.info-block__description!= item.text
    block
